// Mobile (default)
.header {
  box-shadow: 0 0 10px 0 $grey;
  padding: 20px;
  background-color: $paper;

  &__profile {
   display: flex;
   justify-content: center;
   margin: 0;
  }

  &__profilePicture {
    $picture-size: 100px;
    width: $picture-size;
    height: $picture-size;
    border-radius: 50%;
  }

  &__profileDetails {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      margin: 5px;
    }
  }

  &__separator {
    width: 50%;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $off-white;
    margin: 30px auto;
  }
}

// Tablets and larger
@media screen and (min-width: $screen-sm) {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;

    &__separator {
      display: none;
    }

    &__contactLinks {
      margin-left: 50px;
    }
  }
}
