// Breakpoints
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// Fonts
$font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Black / white colour shades
$off-white: #bbb;
$grey: #777;

// Theme colours
$paper: #D5D5D5;
$overcast: #9099A2;
$lavendar: #6D7993;
$dusty: #96858F;
$anchor: #455c8e;
$anchor-hover: #283552;