@import './variables';
@import './header/header';

body {
  margin: 0;
  background-color: $lavendar;
  font-family: $font-stack;
  color: #444;
}

a {
  color: #444;
  text-decoration: none;
  transition: .2s;
}

a:hover {
  color: #000;
  text-decoration: none;
  transition: .5s;
}