@import './variables';
@import './header/header';
@import './common/timeline/timeline';
@import './common/timeline/timelineCard/timelineCard';
@import './common/title/title';

body {
  margin: 0;
  background-color: $lavendar;
  font-family: $font-stack;
  color: #444;
}

a {
  color: $anchor;
  text-decoration: none;
  transition: .2s;
}

a:hover {
  color: $anchor-hover;
  text-decoration: none;
  transition: .5s;
}