.timeline {
  position: relative;
  margin-bottom: 40px;

  &__card {
    padding-bottom: 20px;
  }
}

.timeline::before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 4px;
  background-color: $overcast;
  margin-left: 20px;
  border-radius: 2px;
}