.timeline {
  margin: 20px;
  position: relative;

  &__card {
    padding-bottom: 20px;
  }
}

.timeline::before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: $overcast;
  margin-left: 20px;
  border-radius: 1.5px;
}